# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

# Ignore everything
*

# But not these files...
!.gitignore
!*php
!*css
!*js
!*html


# ...even if they are in subdirectories
!*/
